PB_ENCRYPTION_KEY=GENERATE_WITH_openssl_rand_hex_32
PB_SUPERUSER_EMAIL=CHANGE_ME
PB_SUPERUSER_PASSWORD=CHANGE_ME
PB_BOOTSTRAP_USER_EMAIL=CHANGE_ME
PB_BOOTSTRAP_USER_PASSWORD=CHANGE_ME
PB_PUBLIC_URL=https://api-pms.mimos-academy.com
